@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	}
a{
    text-decoration:none;
	color:#333;
    }
li{
	list-style:none;
	}
/*开启弹性盒子*/			
body,html{
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	color: #2b333b;
	}
	
.header{
	width:100%;
	display:flex;
	color:#fff;
	box-sizing:border-box;
	justify-content:space-between;
	background:rgb(7,17,27);
	flex-direction:row;
	align-items: center;
	padding:0.8vh 2vh;
	}
.header .title{
	           width:60%;
			   white-space: nowrap;
			   font-size:14px;
			   margin-left:2vh;
	           }	
		
.a1 img{
	     height:5vh;
		 width:13vh;
	     }	
.a2{
	 height:3vh;
	 width:3vh;
	 background:#fff; 
	 border-radius:50%;
	 }		 
.a2 img{
	     height:3vh;
		 width:3vh;
		
	     }
.top{
	 width:100%;
	 height:25vh;
	 background:url(../image2/0.jpg);
	 }
.top ul{
        display:flex;	    
	    justify-content:space-between;
		flex-flow:row wrap;
		justify-content:flex-start;
		padding-top:2vh;
		padding-left:1.5vh;
	      }
.top ul li{
		   border: 1px solid rgba(255,255,255,.4);
		   box-sizing: border-box;
		   border-radius: 2vh;
		   padding: 1.4vh 1.5vh;
		   font-size: 1vh;
		   margin: 0.8vh 1vh;
	        }
.top ul li a{
	          color:#fff; 
			  padding:1vh
			  }
.content{
		 width:100%;
		 background:#fff;
		 display:flex;
		 flex-flow:row nowrap;
		 
	     }
.content ul{
	        width:100%;
			
	         }
.content ul li{
	           border-bottom:1px solid #ccc;
			   margin:3vh 2vh;
			   padding-top:2vh;
			   padding-bottom:2vh;
 			   display:flex;
			   flex-flow:row nowrap;
	            }
.content ul li .tp{
	                background-image:url(../image2/1.jpg);
					background-position-x: 50%;
					background-position-y: 50%;
					background-size: cover;
					background-repeat: no-repeat;
	                overflow:hidden;
				    height:15vh;
				    width:15vh;
	                 }
.content ul li .tp1{
	                background-image:url(../image2/2.jpg);
					background-position-x: 50%;
					background-position-y: 50%;
					background-size: cover;
					background-repeat: no-repeat;
	                overflow:hidden;
				    height:15vh;
				    width:15vh;
	                 }
.content ul li .tp2{
	                background-image:url(../image2/3.jpg);
					background-position-x: 50%;
					background-position-y: 50%;
					background-size: cover;
					background-repeat: no-repeat;
	                overflow:hidden;
				    height:15vh;
				    width:15vh;
	                 }					 					 
.content ul li .wenzi{
	                   height:15vh;
					   width:34vh;
					   margin-left:1.5vh;
	                   }

.content ul li .wenzi1{
	                    font-size:14px;
						color:#333;
						margin-bottom:1.5vh;
	                               }
.content ul li .wenzi2{
	                   font-size:10px;
						color:#666;
						line-height:3vh  
	                     }
.content ul li .price{
	                    box-sizing:border-box;
						display:flex;
						justify-content:space-between;
						align-items:center;
					    color:#666;
					    font-size:9px;
					    margin-top:2vh;
	                   }
.content ul li .price .wenzi3{
	                          color: #fc3154;
	                          }

.tp3{
	 height:20vh;
	 width:100%;
	 
	 }
.tp3 img{
	      heihgt:100%;
		  width:95%;
		  padding:1vh;
	      }

.footer{
	    width:100%;
		display:flex;
		color:#fff;
		box-sizing:border-box;
		justify-content:center;
		background:#fff;
		flex-direction:column;
		align-items: center;
		position: fixed;
		bottom:0;
        box-shadow: 0 0 10px 1px rgba(7,17,27,.1);
        z-index: 99999;
	    }	 
.footer ul{
	       width: 100%;
	       display: flex;
	       flex-flow:wrap;
	       flex-direction:row;
		   justify-content:space-between;
		   align-items:flex-end;
	       }	 
.footer ul li{
			  width:25%;
			  text-align:center;
			  padding-top:0.8vh;
			  
	          }	 
.footer ul li img{
	              width:3vh;
				  height:3vh;
			
	              }	 
.footer ul li p{
	             font-size:6px;
				 color:#666;
				
	              }	 
	 
.footer ul li .p3{  
	                color:red;    
	                       }		 
	 
	 
	 